@charset "utf-8";
#err {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	width: 100%;
	height: 200px;
}
#err img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#err p {
	display: block;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: arial, sans-serif;
}
.interface {
	opacity: 0;
	overflow: hidden;
}