@charset "utf-8";
/* CORPO DA PÁGINA */
#interface {
	font-family: arial, sans-serif;
	width: 100%;
	display: block;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}
#postagens {
	width: 70%;
	display: block;
	float: left;
}
#windgets {
	width: 29%;
	display: block;
	float: right;
	border-left: solid 1px;
}
#rodape {
	clear: both;
	border-top: solid 1px;
}
/* CABEÇALHO */
#logo-fig {
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#log1 {
	margin-left: 40%;
	opacity: 100;
	transition: 1s;
}
#log2 {
	margin-left: 40%;
	display: block;
	position: absolute;
	margin-top: -274px;
	opacity: 0;
	transition: 1s;
}
#log1:hover {
	opacity: 0;
}
#log2:hover {
	opacity: 100;
}