@charset "utf-8";
#err {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	width: 257px;
	height: 200px;
	background: url("https://ap.imagensbrasil.org/images/2016/10/30/screenc.png")  no-repeat ;
}
#err p {
	display: block;
	position: absolute;
	margin-top: 210px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: arial, sans-serif;
}
.interface {
	opacity: 0;
	overflow: hidden;
}